<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>shopping</display-name>
  <welcome-file-list>
    <welcome-file>public</welcome-file>
  </welcome-file-list>
  
  <security-role>
  	<role-name>Owner</role-name>
  </security-role>
  <security-role>
  	<role-name>Sale</role-name>
  </security-role>
  <security-role>
  	<role-name>Customer</role-name>
  </security-role>
  <security-role>
  	<role-name>Delivery</role-name>
  </security-role>
  
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/products</form-login-page>
  		<form-error-page>/products?error=auth</form-error-page>
  	</form-login-config>
  </login-config>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Customer Resources</web-resource-name>
  		<url-pattern>/customer/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>Customer</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Member Resources</web-resource-name>
  		<url-pattern>/members/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>Delivery</role-name>
  		<role-name>Customer</role-name>
  		<role-name>Sale</role-name>
  		<role-name>Owner</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Sale Resources</web-resource-name>
  		<url-pattern>/sale/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>Sale</role-name>
  		<role-name>Owner</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Owner Resources</web-resource-name>
  		<url-pattern>/owner/*</url-pattern>
  	</web-resource-collection> 	
  	<auth-constraint>
  		<role-name>Owner</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/</location>
  </error-page>
  
</web-app>