<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0">
	<display-name>lesson4</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	
	<security-role>
		<role-name>Member</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin Resources</web-resource-name>
			<url-pattern>/admin</url-pattern>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Member Resources</web-resource-name>
			<url-pattern>/member</url-pattern>
			<url-pattern>/member/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
			<role-name>Member</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login.jsp?error</form-error-page>
		</form-login-config>
	</login-config>
	
	
	<error-page>
		<error-code>403</error-code>
		<location>/forbidden.jsp</location>
	</error-page>
</web-app>