.btn-wrapper {
	padding-top: 2rem;
}

.public-product-image {
	height: 240px;
	object-fit: cover;
	object-position: center;
}

.productImage {
	width: 100%;
}

.features label {
	color: grey;
}

main {
	position: relative;
	top: 56px;
}


.cover-image {
	width: 100%;
}

.image-control {
	width: 100px;
	margin-bottom: 10px;
	cursor: pointer;
	overflow: hidden;
}

.ribbon {
	width: 80px;
	height: 80px;
	position: absolute;
	overflow: hidden;
}


.ribbon span {
	display: block;
	width: 80px;
	text-align: center;
	padding: 4px 0px;
	background-color: red;
	color: white;
	font-size: x-small;
	font-weight: bold;
	position: absolute;
	transform: rotate(-45deg);
	right: 20px;
	top: 5px;
}
